<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:spring.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <bean id="sqlMapClient"
          class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>classpath:com/pe/manpower/sisplan/persistence/SqlMapConfig.xml</value>
        </property>
        <property name="useTransactionAwareDataSource">
            <value>true</value>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <bean id="sqlMapClientTemplate"
          class="org.springframework.orm.ibatis.SqlMapClientTemplate">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean>
      <!-- Usuario -->
    <bean id="usuarioDao" class="com.pe.manpower.sisplan.persistence.impl.UsuarioImplDAO">
       <property name="sqlMapClient">
          <ref bean="sqlMapClient"/>
        </property>
    </bean>
     
    <bean id="usuarioService" class="com.pe.manpower.sisplan.service.impl.UsuarioImplService">
       <constructor-arg index="0" ref="usuarioDao"/>
    </bean>
    
    <bean name="/loginUsuario" class="com.pe.manpower.sisplan.action.UsuarioAction">
       <constructor-arg index="0" ref="usuarioService"/>
       <constructor-arg index="1" ref="menuService"/>
    </bean>
       <!-- Menu -->
     <bean id="menuDao" class="com.pe.manpower.sisplan.persistence.impl.MenuImplDAO">
       <property name="sqlMapClient">
          <ref bean="sqlMapClient"/>
        </property>
    </bean>
    
    <bean id="menuService" class="com.pe.manpower.sisplan.service.impl.MenuImplService">
       <constructor-arg index="0" ref="menuDao"/>
    </bean>
    <bean name="/menuSetUp" class="com.pe.manpower.sisplan.action.MenuAction">
        <constructor-arg index="0" ref="menuService"/>
    </bean>

    <bean name="/menuProcess" class="com.pe.manpower.sisplan.action.MenuAction">
        <constructor-arg index="0" ref="menuService"/>
    </bean>
     <!-- Roles -->
     <bean id="rolDao" class="com.pe.manpower.sisplan.persistence.impl.RolImplDAO">
       <property name="sqlMapClient">
          <ref bean="sqlMapClient"/>
        </property>
    </bean>
    
    <bean id="rolService" class="com.pe.manpower.sisplan.service.impl.RolImplService">
       <constructor-arg index="0" ref="rolDao"/>
    </bean>
    <bean name="/rolSetUp" class="com.pe.manpower.sisplan.action.RolAction">
        <constructor-arg index="0" ref="rolService"/>
    </bean>

    <bean name="/rolProcess" class="com.pe.manpower.sisplan.action.RolAction">
        <constructor-arg index="0" ref="rolService"/>
    </bean>
    <!-- CXC  -->
    <bean id="mvmntosCrdtoDao" class="com.pe.manpower.sisplan.persistence.impl.MvmntosCrdtoImplDAO">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean>

    <bean id="mvmntosCrdtoService" class="com.pe.manpower.sisplan.service.impl.MvmntosCrdtoImplService">
        <constructor-arg index="0" ref="mvmntosCrdtoDao"/>
    </bean>
    
    <bean name="/mvmntosCrdtoProcess" class="com.pe.manpower.sisplan.action.MvmntosCrdtoAction">
        <constructor-arg index="0" ref="mvmntosCrdtoService"/>
     </bean>
    <!-- Reportes Controller  -->
    <bean id="repControllerDao" class="com.pe.manpower.sisplan.persistence.impl.RepControllerImplDAO">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean>

    <bean id="repControllerService" class="com.pe.manpower.sisplan.service.impl.RepControllerImplService">
        <constructor-arg index="0" ref="repControllerDao"/>
    </bean>
    
    <bean name="/repControllerProcess" class="com.pe.manpower.sisplan.action.RepControllerAction">
        <constructor-arg index="0" ref="repControllerService"/>
        <constructor-arg index="1" ref="mvmntosCrdtoService"/>
     </bean> 


</beans>