<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="Menu">

    <typeAlias alias="MenuObject" type="com.pe.manpower.sisplan.to.Menu"/>
    <typeAlias alias="MenuCiaObject" type="com.pe.manpower.sisplan.to.MenuCia"/>
    
    <cacheModel id="menuCache" type="MEMORY" readOnly="false" serialize="true">
        <flushInterval hours="24"/>
        <flushOnExecute statement="Menu.update"/>
        <flushOnExecute statement="Menu.insert"/>
        <flushOnExecute statement="Menu.delete"/>
    </cacheModel>

       
    <resultMap id="menuResult" class="MenuObject">
        
     <result column="MENUID" property="menuid" jdbcType="NUMBER" javaType="Integer" />
     <result column="MENUTIPO" property="tipo" jdbcType="VARCHAR" javaType="string" />
     <result column="ESTADO" property="estado" jdbcType="VARCHAR" javaType="string" />
     <result column="MENUORDEN" property="posid" jdbcType="NUMBER" javaType="Integer" />
     <result column="MENUTITLE" property="titulo" jdbcType="VARCHAR" javaType="string" />
     <result column="MENUACTION" property="url" jdbcType="VARCHAR" javaType="string" />
     <result column="PARENTID" property="parentid" jdbcType="NUMBER" javaType="Integer" />   
     <result column="INDWEB" property="indweb" jdbcType="VARCHAR" javaType="string" />  
     </resultMap>

    <!-- hsql db used for this example capitalizes col names
         so Map will have them as all caps -->
    <select id="getAll" resultMap="menuResult" cacheModel="menuCache">
        SELECT m.menuid,m.menutipo,lpad(' ',2*(level-1)) || menutitle menutitle,m.estado,m.menuorden,m.menuaction,m.parentid,
               m.indweb
        FROM menu m 
        START WITH  m.parentid = 0 
        CONNECT BY  PRIOR m.menuid = m.parentid
        ORDER SIBLINGS BY m.menuorden
    </select>
    
    <select id="findMenus" resultMap="menuResult" cacheModel="menuCache" parameterClass="MenuObject">
      SELECT m.menuid,m.menutipo,lpad(' ',2*(level-1)) || menutitle menutitle,m.estado,m.menuorden,m.menuaction,m.parentid,
             m.indweb
      FROM menu m 
      WHERE parentid=decode(#parentid#,0,parentid,nvl(#parentid#,parentid))  
        AND UPPER(menutitle) like UPPER('%'||#titulo#||'%')
        AND indweb=nvl(#indweb#,indweb)
      START WITH  m.parentid = 0 
      CONNECT BY  PRIOR m.menuid = m.parentid
      ORDER SIBLINGS BY m.menuorden
    </select>
    
    <select id="getAllParents" resultClass="com.pe.manpower.sisplan.to.Menu" cacheModel="menuCache">
        SELECT m.menuid,m.menutipo tipo,lpad('  ',5*(level-1)) || menutitle titulo 
        FROM menu m 
        WHERE menutipo='M'
        START WITH  m.parentid IS  NULL 
        CONNECT BY  PRIOR m.menuid = m.parentid
        ORDER SIBLINGS BY m.menuorden
    </select>
    
    <select id="getById" resultMap="menuResult" parameterClass="java.lang.Integer">
        SELECT menuid,menutipo,estado,menuorden,menutitle,menuaction,parentid,indweb
        FROM menu
        WHERE menuid =  #value#
    </select>

    <update id="update" parameterClass="MenuObject">
        UPDATE menu
        SET
            menutipo = #tipo#,
            estado = #estado#,
            menuorden = #posid#,
            menutitle = #titulo#,
            menuaction = #url#,
            parentid = #parentid#,
            indweb = #indweb#
        WHERE menuid = #menuid#
    </update>

    <insert id="insert" parameterClass="MenuObject">
        INSERT INTO menu (MENUID, MENUTIPO, MENUTITLE, MENUDESC, PARENTID, ESTADO, MENUACTION, MENUORDEN,INDWEB )
        VALUES ( null, #tipo#, #titulo#,#titulo#,#parentid#,#estado#,#url#,#posid#,#indweb# )
    </insert>

    <delete id="delete" parameterClass="java.lang.Integer">
        DELETE FROM menu WHERE menuid = #value#
    </delete>
    
    <parameterMap id="vecMenu" class="java.util.Map">
       <parameter property="pLogIn" javaType="string" mode="IN" jdbcType="VARCHAR"/>
       <parameter property="pRol" javaType="integer" mode="IN" jdbcType="NUMBER"/>
       <parameter property="pNoCia" javaType="integer" mode="IN" jdbcType="NUMBER"/>
       <parameter property="pResult" javaType="java.sql.ResultSet" mode="OUT" jdbcType="ORACLECURSOR" resultMap="menuResult"  />
    </parameterMap>
    
    <procedure id="buscarMenuUsuario"  parameterMap="vecMenu">
        { call SISWEB.PKG_SEGURIDAD.PRC_MOSTRAR_MENU(?,?,?,?) }
    </procedure>
    
    <insert id="insertMenuCia" parameterClass="MenuCiaObject">
        INSERT INTO MENU_CIA
          (MENUID,NO_CIA,ESTADO)
        VALUES
          (#menuid#,lpad(#no_cia#,2,'0'),'S')
    </insert>
    
    <delete id="deleteMenuCia" parameterClass="MenuCiaObject">
        DELETE FROM menu_cia WHERE menuid = #menuid# and no_cia=lpad(#no_cia#,2,'0')
    </delete>
    
    <select id="getMenuByCia" resultClass="java.util.HashMap" parameterClass="java.lang.String">
       SELECT m.menuid,m.menutipo,lpad(' ',2*(level-1)) || menutitle menutitle,m.estado,m.parentid ,
               decode(( select 1 
                        from menu_cia r 
                        where r.menuid=m.menuid 
                         and r.no_cia=lpad(#value#,2,'0') ),1,'S','N') acceso
        FROM menu m 
        START WITH  m.parentid IS  NULL 
        CONNECT BY  PRIOR m.menuid = m.parentid
        ORDER SIBLINGS BY m.menuorden
    </select>
    
</sqlMap>
